

{{> head }};

{{> navbar }};

<div class="row">

    <div class="col-5">

        <h1>Danger</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam repellat laborum adipisci minima! Dicta cupiditate et magnam nisi eos delectus exercitationem aut, deleniti totam cumque corrupti qui quibusdam. Nihil, ad</p>

    </div>

    <div class="col-7">

        <img src="/public/asset/img/IMG-20191205-WA0041.jpg" class="img-thumbnail"> 

    </div>

</div>






{{> footer }};
