
{{> head }};



    {{> navbar }};



    <div class="jumbotron">
        <h1 class="display-4">Hola, {{nombre}}</h1>
        <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum obcaecati, vero illum </p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem, doloremque dicta mollitia explicabo quis natus ipsum autem dolorum harum modi illum enim architecto fuga. Optio quisquam deserunt iusto numquam? Reiciendis!</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">learn more</a>
        </p>
    </div>


    {{> footer }};
